@font-face {
    font-family: 'diodrum';
    src: url('./Diodrum-Semibold.ttf') format('ttf'),
    url('./Diodrum-Semibold.woff') format('woff'),
    url('./Diodrum-Semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'captura';
    src: url('./Captura-Regular.ttf') format('ttf'),
    url('./Captura-Regular.woff') format('woff'),
    url('./Captura-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('./LatoLatin-Regular.ttf') format('ttf'),
    url('./LatoLatin-Regular.woff') format('woff'),
    url('./LatoLatin-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}