@font-face {
    font-family: 'captura';
    src: url('./CapturaRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carniola';
    src: url('./CarniolaRegular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'diodrum';
    src: url('./DiodrumW03Semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}